@model MvcRehber.Models.KisiModel.KisiGuncelleViewModel
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kişi Güncelle</h2>

@*<form class="form-horizantal" method="post" action="/Kisi/Guncelle/">*@
@using (Html.BeginForm("Guncelle", "Kisi", FormMethod.Post, new { @class = "form-horizontal" }))
{


    @Html.HiddenFor(x => x.Kisi.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.Ad)
        @Html.TextBoxFor(x => x.Kisi.Ad, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.Soyad)
        @Html.TextBoxFor(x => x.Kisi.Soyad, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.EvTelefon)
        @Html.TextBoxFor(x => x.Kisi.EvTelefon, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.CepTelefon)
        @Html.TextBoxFor(x => x.Kisi.CepTelefon, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.IsTelefon)
        @Html.TextBoxFor(x => x.Kisi.IsTelefon, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.EmailAdres)
        @Html.TextBoxFor(x => x.Kisi.EmailAdres, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.Adres)
        @Html.TextAreaFor(x => x.Kisi.Adres, new { @class = "form-control", @rows = 4 })
    </div>
    <div>
        @Html.LabelFor(x => x.Kisi.SehirId)
        @*@Html.DropDownListFor(x => x.Kisi.SehirId, ViewBag.Sehirler as SelectList, new { @class = "form-control" })*@
        @Html.DropDownListFor(x => x.Kisi.SehirId, new SelectList(Model.Sehirler, "Id", "SehirAdi"), new { @class = "form-control" })

    </div>
    <input type="submit" class="btn btn-primary" value="Güncelle" />
    @*</form*@
}

